/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */
/*
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');



/* Application-wide Styles */
/* Master Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: rgb(11, 14, 13);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: rgb(5, 14, 8);
    font-family: Cambria, Georgia;
  }
  a {
    cursor: pointer;
    cursor: hand;
  }
 

  button {
    font-family: Arial;
    background-color: rgb(6, 8, 7);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #0c0e0c;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* Navigation link styles */
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: rgb(56, 243, 128);
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: rgb(9, 153, 224);
  }
  nav a:hover {
    color: #039be5;
    background-color: rgb(132, 205, 236);
  }
  nav a.active {
    color: #039be5;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */